.mat-tab {
    color: #ffffff;
}

.tab-style {
    padding-top: 40px;
    padding-left: 2%;
    padding-right: 2%;
    background-color: #212121;
    color: #ffffff;
}

.fx-style {
    padding: 2%;
}

.card-lives {
    margin: 0.5%;
}

.mat-car-live {
    border: 1px solid #424242;
    border-radius: 4px 3px 6px/2px 4px;
    padding-top: 15px;
    padding-left: 0%;
    padding-right: 0%;
    padding-bottom: 0%;
    margin: 5px;
}

.mat-card-title {
    padding-left: 15px;
    padding-top: 0%;
    padding-right: 15px;
    padding-bottom: 0%;
    min-height: 70px;
}

.live-name {
    font-size: 0.9rem;
}

.live-date {
    font-size: 0.7rem;
}

.live-p {
    font-size: 0.7rem;
}